<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>RCForb</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.remotehams.rcforb.ipad</string>
    <key>CFBundleName</key>
    <string>RCForb Client</string>
    <key>CFBundleDisplayName</key>
    <string>RCForb Client</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>2</integer>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>ipad</string>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2024 Ramon E Tristani. All rights reserved.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>RCForb needs microphone access for Push-to-Talk radio transmission.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>RCForb uses Face ID to securely sign in with your saved credentials.</string>
    <key>UIAppFonts</key>
    <array>
        <string>Fonts/digital-7-mono.ttf</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
